<footer>
	<div id="footer-left">
		<a href="mailto:shengyun@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://twitter.com/Anthony89188307"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/sheng-yun-anthony-peng-443bb6151/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/ShengYun-Peng"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=9Yr7ID0AAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> ShengYun (Anthony) Peng
	</div>
	<div id="footer-right">
		ShengYun Peng is a PhD student at Georgia Tech working on adversarial machine learning.
	</div>
</footer>
